<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
  <h1>Welcome to the home page of django web application!</h1>
  <p>Testing the forms for taking in queries by the employess of Reshamandi company.</p>
    
<div ng-app="myApp" ng-controller="formCtrl">
  <form novalidate action="" method="POST"> 
    {% csrf_token %}
   <h2>PRODUCT SPECIFICATIONS</h2>  <br>

    Type:
    <select ng-model="product.type" name="type" multiple size="3">
      <option value="">All</option>
      {% for i in formData.types %}
      <option value="{{ i }}">{{ i }}</option>
      {% endfor %}
    </select> <br> <br> 

    Category:
      <select ng-model="product.category" name="category" multiple size="3">
        <option value="">All
        {% for i in formData.categories %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select> <br> <br> 

    Color:
    <select ng-model="product.color" name="color" multiple size="3">
      <option value="">All
        {% for i in formData.colors %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select> <br> <br>

    Border:
    <select ng-model="product.border" name="border" multiple size="3">
      <option value="">All
        {% for i in formData.borders %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select> <br> <br> 
      <input type="hidden" name="switch" value="product">
      <input type="submit" value="Search">
      </form>

      <form novalidate action="" method="POST"> 
        {% csrf_token %}
    <h2>TRANSACTION DETAILS</h2> <br>
    Month of transaction:
    <select ng-model="user.month" name="month" multiple size="3">
      <option value="">All
        {% for i in formData.months %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select> <br> <br> 
   
      Centre: 
      <select ng-model="user.center" name="centre" multiple size="3">
        <option value="">All
          {% for i in formData.centres %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select> <br> <br> 

    Rating:
    <select ng-model="user.rating" name="rating" multiple size="3">
      <option value="">All
        {% for i in formData.ratings %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select> <br> <br> 

      Weaver ID:
      <input type="text" ng-model="user.weaver_id" name="wids">
      <br><br>
    <input type="hidden" name="switch" value="transaction">
    <input type="submit" value="Search">
    <button ng-click="reset()">RESET</button><br>
  </form>

  <br>
  {% if count %}
  Number of transactions is : {{ count }}
  {% endif %}
  <br>

  {% if table %}
    Table is : <br>
    <table>
      <tr>
        <th>Weaver_id</th>
        <th>Quantity</th>
        <th>Month</th>
        <th>Centre</th>
        <th>Rating</th>
      </tr>
      {% for tran in table %}
      <tr>
        {% for key,value in tran.items %}
        <td>{{ value }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    
  {% endif %}
</div>

<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {
    $scope.Pmaster = {type: "",category:"",color:"",border:""};
    $scope.Tmaster = {month: "",rating:"",weaver_id:"",center:""};
    $scope.reset = function() {
        $scope.user = angular.copy($scope.Tmaster);
        $scope.product = angular.copy($scope.Pmaster);
    };
    $scope.reset();
});
</script>

</body>
</html>
