<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js" integrity="sha512-Lii3WMtgA0C0qmmkdCpsG0Gjr6M0ajRyQRQSbTF6BsrVh/nhZdHpVZ76iMIPvQwz1eoXC3DmAg9K51qT5/dEVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/scripts.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
  <!-- Navbar -->
  <div class="w3-top" style="background-color: white;">
    <div class="w3-bar w3-left-align w3-large" style="padding-top:5px;color: #9acd30;"><div id="navbar">
      <a href="https://www.facebook.com/fbreshamandi"><i class="fa fa-facebook w3-hover-opacity" style="text-indent: 7.5em;">&emsp;</i></a>
      <a href="https://www.instagram.com/resha_mandi/"><i class="fa fa-instagram w3-hover-opacity">&emsp;</i></a> 
      <a href="https://www.linkedin.com/company/inreshamandi?original_referer=https%3A%2F%2Freshamandi.com%2F"><i class="fa fa-linkedin w3-hover-opacity">&emsp;</i></a>
      <a href="https://twitter.com/reshamandi"><i class="fa fa-twitter w3-hover-opacity"></i></a>
      <a href="tel:+917338694594" style="text-indent: 47em;font-size: 15px;text-decoration: none;">&ensp;<i class="fa fa-phone"></i>+91 7338694594</a>
      <a href="mailto:support@reshamandi.com?subject=Support information need" style="text-indent: 0.5em;font-size: 15px;text-decoration: none;">&ensp;<i class="fa fa-envelope">&ensp;</i>support@reshamandi.com</a>
      <br><hr style=" margin: 0.3em auto;">
    </div>
    <a href="https://reshamandi.com/" style="text-decoration:none;padding-left: 7.5em;"><img src="../static/navlogo.png" width="95" height="95" ></a>
  </div><hr style=" margin: 0.3em auto;">
 </div>
<br><br><br><br><br><br>
  <h1 class="resh">Reshamandi</h1>
  <div id="image">
  <!-- <div class="line"></div> -->
  <button onclick="toggle(transSpec)" class="butn">Transactions</button>
  <button onclick="toggle(statSpec)" class="butn">Statistics</button>
  <button onclick="toggle(productSpec)" class="butn">Products</button>

<div ng-app="myApp" ng-controller="formCtrl">

  <div id="statSpec" style="display: none;" class="query">
    <form novalidate action="" method="POST"> 
      {% csrf_token %}
     <h1 style="margin-bottom: -20px;">Statistics</h1>  <br>
     <h4>Role</h4>
     <input type="radio" id="w" name="role" value="Weaver" checked>
    <label for="w">Weaver</label><br>
    <input type="radio" id="r" name="role" value="Retailer">
    <label for="r">Retailer</label><br>  

      <h4>Product Spec</h4>
      <select ng-model="stat.filter1" name="filter1" size="3">
        {% for i in formData.pdtSpec %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select> 

      <h4>Filter</h4>
        <select ng-model="stat.filter2" name="filter2" size="3">
          {% for i in formData.filter %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>

      <h4>Region</h4>
      <select ng-model="stat.regions" name="regions" multiple size="3">
        <option value="">All
        {% for i in formData.regions %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>

      <h4>Centre</h4>
      <select ng-model="stat.centres" name="centres" multiple size="3">
        <option value="">All
        {% for i in formData.centres %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>

      <h4>Season</h4>
      <select ng-model="stat.seasons" name="seasons" multiple size="3">
        <option value="">All
        {% for i in formData.seasons %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>

      <h4>Month</h4>
      <select ng-model="stat.months" name="months" multiple size="3">
        <option value="">All
        {% for i in formData.months %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>

      <h4>Year</h4>
      <select ng-model="stat.years" name="years" multiple size="3">
        <option value="">All
        {% for i in formData.years %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
  
      <input type="hidden" name="switch" value="stat">
      <input type="submit" value="Search" class="btn2">
        </form>
  </div>

  <div id="productSpec" style="display: none;" class="query">
    <form novalidate action="" method="POST"> 
      {% csrf_token %}
     <h1 style="margin-bottom: -20px;">Product Details</h1>  <br>
  
      <h4>Type</h4>
      <select ng-model="product.type" name="type" multiple size="3">
        <option value="">All</option>
        {% for i in formData.types %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select> 

      <h4>Category</h4>
        <select ng-model="product.category" name="category" multiple size="3">
          <option value="">All
          {% for i in formData.categories %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
  
      <h4>Color</h4>
      <select ng-model="product.color" name="color" multiple size="3">
        <option value="">All
          {% for i in formData.colors %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>
  
      <h4>Border</h4>
      <select ng-model="product.border" name="border" multiple size="3">
        <option value="">All
          {% for i in formData.borders %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select>

        <h4>Filter</h4>
     <input type="radio" id="w" name="filter" value="split" checked>
    <label for="w">Split</label><br>
    <input type="radio" id="r" name="filter" value="t">
    <label for="r">Total</label><br>


        <input type="hidden" name="switch" value="product">
        <input type="submit" value="Search" class="btn2">
        </form>
  </div>

 <div id="transSpec" style="display: none;" class="query">
    <form novalidate action="" method="POST"> 
      {% csrf_token %}
      <h1>Transaction Details</h1>

      <h4>Season</h4>
      <select ng-model="stat.seasons" name="seasons" multiple size="3">
        <option value="">All
        {% for i in formData.seasons %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>

      <h4>Month</h4>
      <select ng-model="user.month" name="month" multiple size="3">
        <option value="">All
          {% for i in formData.months %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
      </select> 
    
      <h4>Region</h4>
      <select ng-model="stat.regions" name="regions" multiple size="3">
        <option value="">All
        {% for i in formData.regions %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>

      <h4>Centre</h4>
      <select ng-model="user.center" name="centre" multiple size="3">
        <option value="">All
          {% for i in formData.centres %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
      </select> 
      
      <h4>Rating</h4>
      <select ng-model="user.rating" name="rating" multiple size="3">
        <option value="">All
          {% for i in formData.ratings %}
          <option value="{{ i }}">{{ i }}</option>
          {% endfor %}
        </select> 

      <h4>Weaver ID:</h4>
        <input class="input" type="text" ng-model="user.weaver_id" name="wids" />
        <input type="hidden" name="switch" value="transaction"><br>
        <input type="submit" value="Search" class="btn2">
      </form>
    </div>

  <br>
</div>
  <div class="tableLayout">
    {% if headData %}
    <table id="example" class="display" style="width:100%">
      <thead>
          <tr>
            {% for i in headData %}
            <th>{{i}}</th>
            {% endfor %}
          </tr>
      </thead>
      <tbody>
        {% for i in bodyData %}
        <tr>
          {% for j in i %}
            <td>{{j}}</td>
          {% endfor %}
        </tr>
        {% endfor %} 
      </tbody>
    </table>
    {% endif %}
  </div>



  {% if wids %}
  <centre><canvas id="myChart" width="50" height="10" ></canvas></centre> 
  {% endif %}

  
  {% if table %}
  <p> Number of transactions is : {{ count }}</p>
    <h2>Transactions :</h2>
    <div class="tableLayout">
      <table id="example" class="display" style="width:100%">
        <thead>
          <tr>
            <th>Weaver</th>
            <th>Quantity</th>
            <!-- <th>Relation</th> -->
            <th>Centre</th>
            <th>Region</th>
            <th>Month</th>
            <th>Year</th>
            <th>Cost</th>
            <th>Rating</th>
            <th>Product</th>
          </tr>
        </thead>
        <tbody>
          {% for tran in table %}
          <tr>
            <td>{{tran.w_id}}</td>
            <td>{{tran.w_quantity}}</td>
            <td>{{tran.w_centre}}</td>
            <td>{{tran.w_region}}</td>
            <td>{{tran.w_month}}</td>
            <td>{{tran.w_year}}</td>
            <td>{{tran.w_cost}}</td>
            <td>{{tran.w_rating}}</td>
            <td>{{tran.pdt}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
  {% endif %}

  {% if top.wids %}
    <div class="top">
      <h2>Top 10 Weavers and products</h2>
      <div class="container">
        <table>
          <thead>
            <tr>
              <th>Weaver_id</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            {% for wid,qt in top.wids %}
            <tr>
              <td>{{ wid }}</td>
              <td>{{ qt }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
      <div class="container">
        <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            {% for pdt,qt in top.pdts %}
            <tr>
              <td>{{ pdt }}</td>
              <td>{{ qt }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
  <input type="hidden" id="myVar" name="variable" value="{{ pdts }}">
  <input type="hidden" id="myVar2" name="variable" value="{{ topPdt }}">
</div>
{% if topWid %}
<centre><canvas id="myChart2" width="5" height="10" ></canvas></centre> 
{% endif %}
<br>
{% if topWid %}
<centre><canvas id="myChart3" width="50" height="20" ></canvas></centre> 
{% endif %}
{% if pdts %}
<centre><canvas id="myChart4" width="50" height="20" ></canvas></centre> 
{% endif %}
<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {
    $scope.Pmaster = {type: "",category:"",color:"",border:""};
    $scope.Tmaster = {month: "",rating:"",weaver_id:"",center:""};
    $scope.Smaster = {filter1: "Type",filter2:"Month",role:"",months:"",centres:"",years:""};
    $scope.reset = function() {
        $scope.user = angular.copy($scope.Tmaster);
        $scope.product = angular.copy($scope.Pmaster);
        $scope.stat = angular.copy($scope.Smaster);
    };
    $scope.reset();
});
var quantity = "{{chartMonth}}";
var wids = "{{wids}}";
var topWid = "{{topWid}}";
var qtWid = "{{qtWid}}";
var topPdt = document.getElementById("myVar2").value;
var qtPdt = "{{qtPdt}}";
var pdts = document.getElementById("myVar").value;
var st = "{{st}}";

if(st)St = JSON.parse(st);
if(pdts){
var l=pdts.split(",");
for(let i=0; i<l.length; i++) {
  var x=l[i].length
  if(i==l.length-1)
  l[i]=l[i].substring(2,x-2);
  else
  l[i]=l[i].substring(2,x-1);
}
// console.log(l+typeof(l));
}
var Wids=[]
var TOPWid=[]
// console.log(St+typeof(St)+typeof(St[0]));
if(wids)var Wids = JSON.parse(wids);
if(quantity)var Quantity = JSON.parse(quantity);
if(topWid) TOPWid = JSON.parse(topWid)
if(qtWid) QTWid =  JSON.parse(qtWid)
if(topWid) console.log("topWid "+TOPWid+typeof(TOPWid[0]));
if(qtWid)console.log("qtWid "+QTWid+typeof(QTWid[0]));
if(topPdt)  console.log("topPdt "+(topPdt[0])+typeof(topPdt[0]));
if(qtPdt)console.log("qtPdt "+JSON.parse(qtPdt)+typeof(JSON.parse(qtPdt)));
var obj=topPdt.split(",");
var l1=[]
for(let i=0; i<obj.length; i++) {
  l1=obj[i].length
  if(i==obj.length-1)
  obj[i]=obj[i].substring(2,l1-2);
  else
  obj[i]=obj[i].substring(2,l1-1);
} 
console.log(obj)
const plugin = {
  id: 'custom_canvas_background_color',
  beforeDraw: (chart) => {
    const ctx = chart.canvas.getContext('2d');
    ctx.save();
    ctx.globalCompositeOperation = 'destination-over';
    ctx.fillStyle = '#eff9d9';
    ctx.fillRect(0, 0, chart.width, chart.height);
    ctx.restore();
  }
};
var DATA=[]
console.log(Wids);
console.log(typeof(Wids));
console.log(Quantity);
console.log(typeof(Quantity));
var DATA2=[]
var label2=[]
if(Wids.length){
  console.log("Chexck");
for(let i = 0; i<Wids.length;i++){
  // var Quantity = quantity[i];
  var obj = {
    label: Wids[i],
          data: Quantity[i],
          backgroundColor: [
              'rgba(255, 99, 132, 0.5)',
              'rgba(54, 162, 235, 0.5)',
              'rgba(255, 206, 86, 0.5)',
              'rgba(75, 192, 192, 0.5)',
              'rgba(153, 102, 255, 0.5)',
              'rgba(255, 159, 64, 0.5)'
          ],
          borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
          ],
          hoverOffset: 5,
          borderWidth: 1,
          tension: 0.4,
  }
  DATA.push(obj);
}


let Labels = ['January','February','March','April','May','June','July','August','September','October','November','December'];

const ctx = document.getElementById('myChart').getContext('2d');
const myChart2 = new Chart(ctx, {
    type: 'line',
    data: {
        labels: Labels,
        datasets: DATA,
    },
    plugins: [plugin],
    options: {
        plugins: {
            title: {
                display: true,
                text: 'Weavers'
            },

        },
        scales: {
            y: {
                beginAtZero: false
            }
        }
    
    }
});
} 
if(TOPWid.length){
      
let canvaselement=document.getElementById("myChart2");

var config ={
    type: "doughnut",
    data: {
        labels : TOPWid,
        datasets: [{ data:QTWid,
        backgroundColor: [
                '#003f5c',
                '#2f4b7c',
                '#665191',
                '#a05195',
                '#d45087',
                '#f95d6a',
                '#ff7c43',
                '#ffa600',
                'rgba(54, 162, 235, 0.9)',
                'rgba(255, 206, 86, 0.9)',
               
            ],
    }]
    },
    plugins: [plugin],
    options: {
        plugins: {
            title: {
                display: true,
                text: 'Top 10 Weavers'
            },

        },
       
    }
  };
    
  var myChart2=new Chart(canvaselement,config);

  let canvaselement1=document.getElementById("myChart3");

var config1 ={
    type: "bar",
    data: {
        labels : obj,
        datasets: [{ 
          data:JSON.parse(qtPdt),
        backgroundColor: [
                '#003f5c',
                '#2f4b7c',
                '#665191',
                '#a05195',
                '#d45087',
                '#f95d6a',
                '#ff7c43',
                '#ffa600',
                'rgba(54, 162, 235, 0.9)',
                'rgba(255, 206, 86, 0.9)',
               
            ],
    }]
    },
    plugins: [plugin],
    options: {
        plugins: {
            title: {
                display: true,
                text: 'Quantity vs Product'
            },

        },
       
    },
    scales: {
            y: {
                beginAtZero: false
            }
        }
  };
  var myChart3=new Chart(canvaselement1,config1);
  
}
if(pdts.length){
 

  let canvaselement2=document.getElementById("myChart4");

var config2 ={
    type: "bar",
    data: {
        labels : l,
        datasets: [{ 
          data:St,
        backgroundColor: [
                '#003f5c',
                '#2f4b7c',
                '#665191',
                '#a05195',
                '#d45087',
                '#f95d6a',
                '#ff7c43',
                '#ffa600',
                'rgba(54, 162, 235, 0.9)',
                'rgba(255, 206, 86, 0.9)',
               
            ],
    }]
    },
    plugins: [plugin],
    options: {
        plugins: {
            title: {
                display: true,
                text: 'Stock Vs Product'
            },

        },
       
    },
    scales: {
            y: {
                beginAtZero: false
            }
        }
  };
    
  var myChart4=new Chart(canvaselement2,config2);
}

</script>

</body>
</html>
