<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the home page of django web application!</h1>
    <p>Testing the forms for taking in queries by the employess of Reshamandi company.</p>
    
    {% for key,value in d.items %}
    {{ key }} : {{ value }}
    {% endfor %}

    {{ data }}

    <form action="" method="POST">
        {% csrf_token %}
        <label for="username"></label>
        <input type="text" name="user" id="username">
        <input type="submit" value="Submit">
    </form>

</body>
</html>