body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #9cb6a6;
}

.resh{
    font-family: 'Merienda', cursive;
    text-align: center;
    background-color: #9cb6a6;
    color: #152D35;
    margin: 0 ;
    font-size: 50px;
    padding: 50px 0 10px;
}

.line{
    border: 3px solid #152D35;
    width: 20%;
}

.transactions{
    background-color: transparent;
    margin: 50px auto 20px;
    text-align: center;
    overflow-y: scroll;
    height: fit-content;
    width: fit-content;
    max-height: 457px;
    box-shadow: 15px 8px 20px #505050;
    display: block;
}

th, td{
    border: transparent;
    padding: 15px 20px;
}

.transactions thead tr{
    background-color: #a7bea4 !important;
}

.transactions tr:nth-child(even){
    background-color: #b0d1ba;
}

.transactions tr:nth-child(odd){
    background-color: #e1ffe2;
}

.top{
    background-color: #efefef;
    margin: 50px;
    box-shadow: 10px 5px 15px #989898;
}

.container{
    display: inline-block;
    padding: 40px 115px
}

thead{
    background-color: #abaaaa;
}

tr:nth-child(even){
    background-color: #c3c3c3;
}

.top h2{
    text-align: center;
    color: #727272;
    padding-top: 50px;
}

h2{
    text-align: center;
    color: #34573c;
}

#productSpec, #transSpec{
    margin: 50px auto;
    padding: 5px 5px 30px;
    width: 40%;
    background-color: #c5ddcd;
    text-align: center;
    box-shadow: 5px 5px 20px black;
}

h4{
    text-align: left;
    padding-left: 60px;
    margin-bottom: 5px;
    color: #152D35;
}

h1{
    color: #345B63;
}

p{
    text-align: center;
}

.butn{
    border: transparent;
    padding: 15px 30px;
    font-size: 30px;
    background-color: #152D35;
    color: #D4ECDD;
    margin: 70px 0 0 340px;
}

.butn:hover{
    cursor: pointer;
    background-color: #345B63;
    /* color: #152D35; */
}

canvas{
    margin: 15px;
    width: 98%;
}

.input {
    width: 78%;
    padding: 5px;
    border-radius: 3px;
    border: none;
    vertical-align: middle;
}
.input:hover, select:hover{
    cursor: pointer;
    background-color: #ecf8e7;
}

select {
    width: 80%;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}

.btn2{
    margin-top: 30px;
    display: inline-block;
    width: 40%;
    padding: 15px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
}

.btn2:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

